**/node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/README.md
**/LICENSE
**/npm-debug.log
**/.env.*.local
**/.editorconfig
**/dist
**/*.pem
Dockerfile
**/.env.test.local
**/*.tsbuildinfo
