# https://github.com/orgs/codefresh-io/teams/r-d/teams
# use teams and github usernames, instead of email addresses
# *                             @codefresh-io/Codefresh_Developers @codefresh-io/DevOps @codefresh-io/r-d

/workflows/codefresh-csdp @codefresh-io/teamleads @codefresh-io/DevOps @codefresh-io/Enterprise_fnm
